<% include common/head.ejs %>

<section id="admin_page">
    <h2>Posts dashboard</h2>
    <hr>
    <div class="row">
        <div class="form-handler col-12 col-md-4">
            <% include components/form.ejs %>
        </div>
        <div class="post-handler col-12 col-md-8">
            <% include components/post_container.ejs %>
        </div>
    </div>
</section>

<% include common/foot.ejs %>