<% include common/head.ejs %>

<section id="user_page">
  <h2>Posts</h2>
  <hr>
  <div class="container">
    <% include components/post_container.ejs %>
  </div>
</section>

<% include common/foot.ejs %>